doctype
html
    head
        include ./includes/head.jade
        link(rel='stylesheet',type="text",href="/css/admin/addmember.css")
    body
        .ui.container
            #member-add-warpper
    include ./includes/foot.jade
    script(type="text/javascript",src="/js/main.js")
    script(type="text/javascript",src="/js/lib/requirejs/require.js",data-main="admin/member/add")