#member-add-warpper{
  margin: 40px 0;
  .ui.button.submit{
    margin: 20px 0;
  }
  .ui.button.clear{
    margin-left: 10px;
  }
  .upload-icon{
    display: inline-block;
    width: 127px;
    height: 127px;
    background: #fff url("/image/avatar_default.png") no-repeat center center;
  }
  .upload-icon-warpper{
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
  }
  .upload-main{
    input{
      display: none;
    }
  }
  .avatar-preview{
    display: none;
  }
}