#my-dialog{
  .ui.image{
    min-height: 200px;
  }
}
.member-list{
  margin: 40px 0;
}
.ui.form.member{
  margin: 20px auto;
  height:220px;
  .left-info{
    float: left;
    width: 400px;
  }
  .right-info{
    float: right;
    img{
      position: relative;
      top:8px;
    }
  }
  &:after{
    display: block;
    clear: both;
  }
}