table.ui.padded.celled.table
    thead
        th 会员
        th 加入时间
        th 启用/禁用
        th 操作
    tbody

    tfoot.full-wdith
        tr
            th(colspan=4)
                div.ui.right.floated.bigger.primary.labeled.icon.button#add-user
                    i.icon.user.add
                    span 添加