doctype
html
    head
        include ./../includes/head.jade
        link(rel='stylesheet',type="text",href="/css/activity201603.css")
        link(rel='stylesheet',type="text",href="/js/lib/Swiper/dist/css/swiper.min.css")
    body
        div.pusher
            div.ui.inverted.blue.segment.vertical
                div.ui.container
                    div.ui.secondary.inverted.pointing.menu.borderless(style={"border":"none"})
                        a.active.item Home
                        a.item(href="/members") Members
                        a.item(href="http://wbye.github.io",target="_blank") Github
                            i.icon.github
                        //div.menu(style="font-size:1.5em;line-height:1.5em;margin-left:3em;")  阳春三月,我们一起自驾去春游吧!
                            //a.ui.inverted.button login in
                            //a.ui.inverted.button sign up
            div.ui.segment.white.vertical
                .ui.container#choose-list
                    //div.activity-choose-item
                    //    .pictures-shortcut 图片简介
                    //    .plan-details 计划详细
        include ./../includes/foot.jade
        script(type="text/javascript",src="/js/main.js")
        script(type="text/javascript",src="/js/lib/requirejs/require.js",data-main="activity/activity201603.js")