#my-dialog.ui.modal
    i.icon.close
    .header yui
    .image.content
        .ui.medium.image
            image(src="http://www.placehold.it/200x200")
        .description
            .ui.header xxx
            p xxxx
    .actions
        .ui.button.cancel 取消
        .ui.button 保存