meta(charset='utf-8')
title 扎根魔都
meta(author='wbye')
link(rel="icon",href="/favicon.ico",type="image/x-icon")
link(rel='stylesheet',type='text/css',href='/js/lib/semantic/dist/semantic.min.css')
link(rel='stylesheet',type='text/css',href='/js/lib/PACE/themes/blue/pace-theme-minimal.css')
link(rel='stylesheet',type='text/css',href='/js/lib/pnotify/dist/pnotify.css')