.pictures-shortcut
    .swiper-container
        .swiper-wrapper
        .swiper-pagination
.plan-details
    h3.ui.header
        a.item(href="http://mt.sohu.com/20150226/n409176828.shtml") 自驾游赏油菜花
    p.tags
        a.ui.green.tag.label 自驾
        a.ui.green.tag.label 油菜花
    p.better-ranger-time
        label 最佳时间：
        |三月底~四月初
    p.location
        label 地点：
            a(target="_blank",href="http://map.baidu.com/?newmap=1&s=con%26wd%3D%E4%B8%8A%E6%B5%B7%E5%B8%82%E5%A5%89%E8%B4%A4%E5%8C%BA%E5%BA%84%E8%A1%8C%E9%95%87%26c%3D289&from=alamap&tpl=mapdots") 上海市奉贤区庄行镇
    p.cost
        label 费用：
        |AA
    p.place-introduce
        label 景点介绍：
        span 春天在哪里？在踏青里，在郊游里，在牛毛细雨中，更在江南人的油菜花田里。范成大有诗云：“沃田桑景晚，平野菜花春。”更见一幅思念已久的田园风光。如果想去踏青，何不脱去冬的疲惫，换上春的行头，到田野间去遥望这璀璨的金黄？带你寻找上海周边最美的油菜花田，让你度过3月里最美的周末时光……
            a(href="http://www.mafengwo.cn/travel-news/212039.html",target="_blank")查看详情,
            a(href="http://www.mafengwo.cn/i/854285.html",target="_blank")旅游参考
    div.operation
        .ui.labeled.button(tabindex="0")
            .ui.red.button
                i.heart.icon
            a.ui.basic.red.left.pointing.label 0
        a(href="/members")
            .ui.button.primary 立即参加