.pictures-shortcut
    .swiper-container
        .swiper-wrapper
            .swiper-slide slide1
            .swiper-slide slide2
            .swiper-slide slide3
        .swiper-pagination
.plan-details
    h2.ui.header
        a.item(href="http://mt.sohu.com/20150226/n409176828.shtml") 油菜花
    p 天青色等烟雨而我在等你