.pictures-shortcut
    .swiper-container
        .swiper-wrapper
        .swiper-pagination
.plan-details
    h3.ui.header
        a.item(href="http://mt.sohu.com/20150226/n409176828.shtml") 自驾游赏油菜花
    p.tags
        a.ui.green.tag.label 自驾
        a.ui.green.tag.label 油菜花
    p.better-ranger-time
        label 最佳时间：
        |3月底~四月初
    p.location
        label 地点：
        |xxxx
    p.cost
        label 费用：
        |AA
    p.place-introduce
        label 景点介绍：
        |油菜花很好
    div.operation
        .ui.labeled.button(tabindex="0")
            .ui.red.button
                i.heart.icon
            a.ui.basic.red.left.pointing.label 10