.pictures-shortcut
    .swiper-container
        .swiper-wrapper
            .swiper-slide slide1
            .swiper-slide slide2
            .swiper-slide slide3
        .swiper-pagination
.plan-details 计划详细22