.swiper-container {
  border-radius: 5px 0 0 5px;
  height: 440px; }
  .swiper-container .swiper-slide {
    background: gray; }
  .swiper-container .swiper-pagination-bullet {
    display: inline-block;
    width: 18px;
    height: 18px;
    opacity: 0.8;
    background: #fff; }
    .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #2185d0; }

.activity-choose-item {
  margin: 2em 0 3em 0; }
  .activity-choose-item:after {
    content: "";
    clear: both;
    display: block;
    height: 1px; }
  .activity-choose-item .pictures-shortcut {
    float: left;
    width: 61.8%; }
  .activity-choose-item .plan-details {
    float: left;
    padding: 1.5em;
    width: 38.2%;
    height: 440px;
    background: rgba(204, 204, 204, 0.22);
    border-radius: 0 5px 5px 0; }
    .activity-choose-item .plan-details .ui.tag {
      margin-left: 1.5em; }
    .activity-choose-item .plan-details p label {
      color: rgba(0, 0, 0, 0.5); }
  .activity-choose-item.pic-pull-right .pictures-shortcut {
    float: right; }
  .activity-choose-item.pic-pull-right .plan-details {
    float: left;
    border-radius: 5px 0 0 5px; }
  .activity-choose-item.pic-pull-right .swiper-container {
    border-radius: 0 5px 5px 0; }
  .activity-choose-item:after {
    display: block;
    height: 1px;
    clear: both; }
  .activity-choose-item .swiper-slide {
    background-size: cover;
    transition: transform 1s; }
    .activity-choose-item .swiper-slide:hover {
      transform: scale(1.2); }

.footer.segment {
  padding: 2em 0em; }

a.inverted.item {
  color: #fff; }

.align-center {
  text-align: center; }

span.good-time {
  display: inline-block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-image: url("/image/goodtime.jpg");
  background-size: contain;
  border-radius: 14px; }
