td
    h4.ui.image.header
        image.ui.rounded.image(src="http://placehold.it/100x100")
        .content  <%=name%>
            .sub.header <%=gender%>
td <%=createAt%>
td
    .ui.toggle.checkbox
        input(name="enable",type="checkbox")
        label
td
    .ui.button.labeled.icon.button.small.edit
        i.icon.edit
        span 编辑
    .ui.button.labeled.icon.button.small.red.delete
        i.icon.remove.user
        span 删除