.swiper-container {
  //width: 600px;
  border-radius: 5px 0 0 5px;
  height: 440px;
  .swiper-slide {
    background: gray;
  }
  .swiper-pagination-bullet{
    display: inline-block;
    width: 18px;
    height: 18px;
    opacity: 0.8;
    background: #fff;
    &.swiper-pagination-bullet-active{
      background: #2185d0;
    }
  }

}

.activity-choose-item {
  margin:2em 0 3em 0;
  &:after{
    content:"";
    clear: both;
    display: block;
    height: 1px;
  }
  .pictures-shortcut {
    float:left;
    width:61.8%;
  }
  .plan-details {
    float:left;
    padding:1.5em;
    width:38.2%;
    height: 440px;
    background: transparentize(#cccccc,0.78);
    border-radius: 0 5px 5px 0;
    .ui.tag{
      margin-left: 1.5em;
    }
    p label{
      color:transparentize(#000,0.5);
    }
  }
  &.pic-pull-right{
    .pictures-shortcut{
      float: right;
    }
    .plan-details{
      float: left;
      border-radius: 5px 0 0 5px;
    }
    .swiper-container{
      border-radius:  0 5px 5px 0;
    }
  }
  &:after {
    display: block;
    height: 1px;
    clear: both;
  }
  .swiper-slide{
    background-size: cover;
    transition:transform 1s;
    &:hover{
      transform: scale(1.2);
    }
  }
}
.footer.segment {
  padding: 2em 0em;
}
a.inverted.item{
  color:#fff;
}
.align-center{
  text-align: center;
}
span.good-time{
  display: inline-block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-image:url("/image/goodtime.jpg");
  background-size: contain;
  border-radius: 14px;
}