<div class="ui card">
    <div class="image">
        <img src="<%= avatarUrl%>">
    </div>
    <div class="content">
        <div class="header"><%=name%></div>
        <div class="meta">
            <a><%=gender%></a>
            <a><%=career%></a>
        </div>
        <div class="description">
            <%=desc%>
        </div>
    </div>
    <div class="extra content">
  <span class="right floated">
    <%=joinAt%> 加入
  </span>
  <span>
    <i class="heart icon"></i>
    <%= follows %>
  </span>
    </div>
</div>
